@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    background: #fff;
    font-family: 'Quicksand', sans-serif !important;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    overflow: hidden;

    .app_main_container {
        background: url('./Assets/Images/clouds.4517755c.jpg');
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.4 ease-out;

        &.clear {
            background-image: url('./Assets/Images/clear\ sky.bfb832d6.jpg');
        }

        main {
            min-height: 100vh;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.75));
            justify-content: center;
            display: flex;
            padding: 0px 120px;
            width: 100%;

            @media (max-width: 540px) {
                padding: 0px 20px;
            }

            .app_search_box-main {
                width: 100vw;

                .lg_header_text {
                    font-family: 'Quicksand', sans-serif;
                    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
                    font-size: 4rem;
                }

                @media (max-width: 540px) {
                    .lg_header_text {
                        font-size: 3rem;
                    }

                    .sm_header_text {
                        font-size: 1rem !important;
                    }

                    .input_feild {
                        width: 100% !important;
                    }
                }

                .sm_header_text {
                    font-family: 'Quicksand', sans-serif;
                    font-size: 1.3rem;
                    font-style: italic;
                    text-shadow: 2px 3px rgba(50, 50, 70, 0.5);
                }

                .search_box_content {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    @media (max-width: 540px) {
                        width: 100%;
                    }
    
                    .input_feild {
                        width: 70%;
                        input {
                            width: 100%;
                            border-radius: 16px 0px 16px 0px;
                            border: none;
                            box-shadow: none;
                            padding: 10px;

                            font-family: 'Quicksand', sans-serif;
                            transition: 0.4s ease-out;
                            font-size: 1rem;
                            background: #fff;
    
                            &:focus {
                                border-radius: 0px 16px 0px 16px;
                            }

                            @media (max-width:540px) {
                                font-size: 1.2rem !important;
                            }
                        }
                    }
                }

                .location_date-box {
                    margin-top: 5%;
                    text-align: center;

                    .location {
                        .city_country {
                            font-family: 'Quicksand', sans-serif;
                            text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
                        }
                    }

                    .date {
                        color: #fff;
                        font-family: 'Quicksand', sans-serif;
                        font-style: italic;
                        text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
                        font-size: 1.2rem;
                    }
                }

                .weather_box {
                    display: flex;
                    justify-content: center;
                    margin-top: 2%;

                    .temp {
                        padding: 20px 20px;
                        text-align: center;
                        border-radius: 16px;
                        box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
                        background: rgba(255, 255, 255, 0.349);

                        h1 {
                            font-size: 5rem;
                            font-family: 'Quicksand', sans-serif;
                            font-weight: 800;
                            text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
                        }
                    }

                    .temp_condition {
                        text-align: center;
                        margin-top: 2%;
                        font-size: 2.2rem;
                        color: #fff;
                        font-family: 'Quicksand', sans-serif;
                        font-style: italic;
                        text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
                    }
                }
            }
        }
    }
}